html, body, #viewDiv {
	padding: 0;
	margin: auto;
	height: 95%;
	width: 95%; 
}

#authButtons {
	width: 95%;
	height: 5%;
	margin: auto;
	padding: 0;
}

#results {
	color: royalblue;
	font-size: 150%;
	width: 50%;
}