html, body, #viewDiv {
	padding: 0;
	margin: auto;
	height: 95%;
	width: 95%; 
}

#authButtons {
	position: relative;
}

button, #results {
	color: royalblue;
	font-size: 150%;
	margin: auto;
	width: 50%;
	position: absolute;
	bottom: 0;
}